/* Custom Background-Colors */
.custom-bg-1 {
  /* background-color: #f0edee; */
  background-color: #d9e6f4;
}

.custom-bg-2 {
  background-color: #90ddf0;
}

.custom-bg-3 {
  /* background-color: #afd2f4; */
  background-color: #b5ecc4;
}

.custom-bg-4 {
  background-color: #007bff;
}

/* Search Bar */
.search-input-field {
  margin: 0 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.search-input-field label {
  font-size: 1.1rem;
  font-weight: 550;
}

.searchField {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #abadae;
  border: 0.1rem solid #dadce0;
  outline: none;
}

.searchField:focus {
  border: 0.1rem solid #007bff;
  /* outline: 0.1rem solid #007bff; */
  outline: none;
  /* border: none; */
}

/* Class Routine */
.schedule-title-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  min-width: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
  border-top: 1px solid #666e75;
}

.schedule-holder-holder {
  padding: 1rem;
}

.schedule-holder-holder > span {
  font-size: 1rem;
  font-weight: 550;
}

.schedule-holder {
  padding-top: 0.3rem;
  overflow-x: scroll;
}

.advising-pannel-class-schedule {
  overflow-x: scroll;
}

.schedule-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 500px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.schedule-items {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: grid;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.schedule-items-inner {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 550;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: grid;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
  text-align: center;
  /* overflow-x: scroll; */
}

.schedule-item-id {
  border-left: 1px solid #666e75;
}

.schedule-list-header {
  font-size: 0.8rem;
  font-weight: 550;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid;
  border-color: rgb(168, 169, 170) rgba(168, 168, 170, 0.8)
    rgba(168, 168, 170, 0.7) rgba(168, 168, 170, 0.6); /* Brighter front with faded tail */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative; /* Infinite rotation */
}

/* MultiSelector */
/* MultiSelect.css */

.multi-select-container {
  width: 100%;
  margin: auto;
}

.basic-multi-select {
  font-size: 0.75rem;
}

.option-label {
  display: flex;
  align-items: center;
}

/* ClassroomMembers.jsx */
.classroomMembers-add-members-form {
  padding: 1rem;
  border-radius: 0.35rem;
  background-color: var(--element-background-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.classroomMembers-add-members-btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 550;
  border-radius: 0.35rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}

.classroomMembers-add-members-btn:hover {
  background-color: #0971e1;
}

.classroomMembers-members-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--element-background-color);
}

.members-list-title {
  font-size: 1rem;
  font-weight: 550;
}

.classroomMembers-members-list {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.classroomMembers-member {
  padding: 0.4rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.classroomMembers-member:hover {
  background-color: #edeff2;
}

.classroomMembers-remove-member-btn {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 550;
  border-radius: 0.35rem;
  color: #ffffff;
  background-color: #ff0627;
  border: none;
  cursor: pointer;
}

.classroomMembers-remove-member-btn:hover {
  background-color: #d90521;
}

.classroomMember-profile-image-alt,
.classroomMember-profile-image {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.classroomMember-profile-image-alt {
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #606365;
}

.classroomMembers-member-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.member-name {
  font-size: 0.9rem;
  font-weight: 520;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 580px) {
  .schedule-items {
    font-size: 0.533rem;
  }

  .schedule-items-inner {
    font-size: 0.5rem;
  }
}
