.consultations-container {
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--background-color);
}

.consultations-inner-container {
  width: 100%;
}

.consultation-request-form {
  margin-top: 0.5rem;
  padding: 0.8rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 5px;
  /* border: 0.1rem solid #dedede; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.consultation-request-form span {
  font-size: 1rem;
  font-weight: 550;
  color: rgb(0, 0, 0);
}

.consultation-reason-input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.1rem solid #dadce0;
}

.consultation-reason-input:focus {
  outline: none;
  border: 0.1rem solid #007bff;
}

.consultation-others-container {
  display: flex;
  gap: 0.5rem;
}

.select-faculty {
  width: 40%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.1rem solid #dadce0;
}

.select-faculty:focus {
  outline: none;
  border: 0.1rem solid #007bff;
}

.consultation-time {
  width: 35%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.1rem solid #dadce0;
}

.consultation-time:focus {
  outline: none;
  border: 0.1rem solid #007bff;
}

.consultation-request-btn {
  width: 25%;
  padding: 0.5rem;
  font-weight: 550;
  border-radius: 0.5rem;
  color: var(--element-background-color);
  background-color: hsl(0, 0%, 25%);
  border: none;
  cursor: pointer;
}

.consultation-request-btn:hover {
  color: var(--background-color);
  background-color: hsl(0, 0%, 0%);
}

.operation-status {
  /* text-align: center; */
  font-size: 0.8rem;
}

.approved-consultation-request {
  margin-top: 1rem;
}

.pending-counsultation-request {
  margin-top: 1rem;
}

.rejected-counsultation-request {
  margin-top: 1rem;
}

.approved-requests,
.pending-requests,
.rejected-requests {
  font-size: 1rem;
  font-weight: 550;
}

.individual-consultation-request {
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 60% auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

.basic-consultation-info2 {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.request-status strong {
  color: #007bff;
}

.consultation-takeAction-div {
  margin-top: 0.25rem;
  display: grid;
  gap: 0.45rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.consultation-approve-btn {
  padding: 0.45rem 0.5rem 0.45rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 550;
  border: none;
  color: var(--element-background-color);
  background-color: #007bff;
  cursor: pointer;
}

.consultation-reject-btn {
  text-decoration: none;
  padding: 0.45rem 0.4rem 0.45rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--element-background-color);
  border-radius: 0.5rem;
  background-color: hsl(0, 270%, 65%);
  /* background-color: #f12432; */
}

.consultation-reject-btn:hover {
  background-color: hsl(0, 270%, 50%);
}

.consultations-current-status-null {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 550;
  color: #007bff;
}

@media (min-width: 900px) {
  .consultations-inner-container {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .consultations-inner-container {
    width: 60%;
  }
}
