.courses-details-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

.course-title {
  font-size: 1.1rem;
}

.course-info-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  border-top: 1px solid #666e75;
  background-color: var(--element-background-color);
}

.course-info-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

.course-info-items {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
  display: grid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.course-info-item-id {
  border-left: 1px solid #666e75;
}

.list-header {
  font-weight: 700;
}

/* Course Sequence */
.course-sequence-container {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.course-sequence-container h1 {
  text-align: center;
  padding-bottom: 0.3rem;
}

.course-sequence-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 0.5rem;
}

.course-sequence-list-item {
  padding: 0.5rem 1rem;
  font-weight: 550;
  color: var(--background-color);
  background-color: #ad0e0e;
}

.done {
  background-color: #149637;
}

/* EditCourse.jsx styles */
.edit-course-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-course-inner-container {
  width: 100%;
}

.edit-course-create-section-form {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  /* background-color: #dedede; */
  border-radius: 0.5rem;
  /* border: 1px solid #a1a1a1; */
  box-shadow: -1.5px 1.5px 1px #bdbdbd, 1.5px 1.5px 1px #bdbdbd,
    0 1.5px 1px #bdbdbd, 0 -1.5px 1px #bdbdbd;
}

.edit-course-form-title {
  font-size: 1.2rem;
  font-weight: 550;
}

.edit-course-sectionNumber-day {
  /* width: 100%; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.edit-course-startTime-endTime {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.edit-course-classRoom-request {
  display: grid;
  gap: 0.5rem;
}

.edit-course-items {
  display: flex;
  flex-direction: column;
}

.edit-course-items > label {
  font-size: 0.85rem;
  font-weight: 550;
  color: #555454;
}

.edit-course-items input,
.edit-course-day-select {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #827f7f;
}

.edit-course-items input:focus,
.edit-course-day-select:focus {
  border: 2px solid #6464ef;
  outline: none;
}

.edit-course-create-section-btn {
  margin-top: 0.2rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  font-weight: 550;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #6464ef;
  /* border: 1px solid #939393; */
  border: none;
  cursor: pointer;
}

.edit-course-sections {
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: -1.5px 1.5px 1px #bdbdbd, 1.5px 1.5px 1px #bdbdbd,
    0 1.5px 1px #bdbdbd, 0 -1.5px 1px #bdbdbd;
}

.edit-course-sections span {
  /* margin-bottom: 0.5rem; */
  font-size: 1.1rem;
  font-weight: 550;
}

.edit-course-sections-list {
  margin-top: 0.3rem;
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.edit-course-sections-list-item {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #b4adad;
}

.edit-course-sections-list-item p {
  color: #666e75;
}

.edit-course-sections-list-item p span {
  font-weight: 550;
}

.edit-course-section-actions {
  display: flex;
  gap: 0.5rem;
}

.edit-course-edit-btn,
.edit-course-delete-btn {
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
  font-weight: 550;
  border-radius: 0.4rem;
  border: 1px solid #dedede;
  cursor: pointer;
}

.edit-course-edit-btn {
  font-size: 0.8rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #6464ef;
}

.edit-course-delete-btn {
  color: #ffffff;
  background-color: #ad0e0e;
}

.no-section-available {
  margin-top: 1rem;
  text-align: center;
  font-weight: 550;
  color: #6464ef;
}

/* EditSection.jsx */
.editSection-inner-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  display: flex;
  justify-content: center;
}

.editSection-elements-container {
  width: 100%;
  /* background-color: red; */
}

.editSection-form {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  /* border: 0.1rem solid #dadce0; */
  /* background-color: var(--element-background-color); */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 60px 2px rgba(60, 64, 67, 0.15);
}

.editSection-faculty-submit {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 70% auto;
}

.selectFaculty {
  border-radius: 0.35rem;
  padding: 0.5rem;
}

.selectFaculty:focus {
  /* outline: none; */
  border: 0.1rem solid #007bff;
  outline: none;
}

.add-members-btn {
  padding: 0.65rem 1rem 0.65rem 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: var(--element-background-color);
  background-color: hsl(240, 77%, 60%);
  border: none;
  cursor: pointer;
}

.add-members-btn:hover {
  background-color: #6464ef;
}

.operation-status {
  font-size: 0.8rem;
}

.editSection-selected-users-div {
  padding: 0.5rem 0.5rem 0.8rem 0.5rem;
  margin-top: 1rem;
  border: 0.1rem solid #dadce0;
  border-radius: 0.5rem;
  background-color: var(--element-background-color);
}

.editSection-section-info {
  padding: 0 0 0.5rem 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.editSection-members-title {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: underline;
}

.member-info-list {
  margin-top: 0.3rem;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 20% 35% 12% 18%;
  border-top: 1px solid #666e75;
}

.member-info-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 20% 35% 12% 18%;
}

.member-info-items {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
  display: grid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.member-info-item-id {
  border-left: 1px solid #666e75;
}

.editSection-header {
  font-weight: 700;
}

.editSection-remove-btn {
  text-decoration: none;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  color: var(--element-background-color);
  background-color: hsl(0, 100%, 50%);
  border: none;
  cursor: pointer;
}

.editSection-remove-btn:hover {
  background-color: hsl(0, 100%, 45%);
}

@media (min-width: 1024px) {
  .edit-course-inner-container {
    width: 60%;
  }

  .edit-course-create-section-btn {
    width: 50%;
    justify-self: center;
  }

  .editSection-elements-container {
    max-width: 60%;
  }
}

@media (max-width: 420px) {
  .edit-course-sectionNumber-day {
    grid-template-columns: 45% 50%;
  }
}

@media (max-width: 350px) {
  .edit-course-sectionNumber-day {
    /* justify-items: center; */
    grid-template-columns: 45% 45%;
    align-items: center;
  }
}
