.enrolled-courses-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.enrolled-courses-container h1 {
  text-align: center;
  background-color: #ffffff;
}

.enrolled-courses-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem 0 0 0;
}

.enrolled-courses-list-item {
  display: flex;
  /* width: 100%; */
}

.enrolled-courses-item-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 550;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: rgb(69, 136, 169);
  box-shadow: 0 1px 4px 2px rgb(72, 72, 72);
}

.enrolled-courses-item-link:hover {
  background-color: black;
}
